.footer {
  background-color: #6E3C74;/* اللون البنفسجي من الصورة */
  color: #FCF8F0;
  padding: 20px 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-content {
  max-width: 900px;
  margin: auto;
}

.footer-logo {
  height: 50px;
  margin-bottom: 5px;
}

.footer-rights {
  font-size: 12px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-icon {
  height: 14px;
  width: 14px;
}

.footer-support {
  margin-top: 15px;
}

.footer-support-title {
  font-weight: bold;
  margin-right: 5px;
}

.footer-support-info a {
  color:#FCF8F0;
  text-decoration: none;
}

.footer-support-info a:hover {
  text-decoration: underline;
}

.footer-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin: 15px 0;
  width: 100%; /* ياخذ عرض كامل الفوتر */
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons img {
  height: 22px;
  width: 22px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.footer-icons img:hover {
  opacity: 0.7;
}
