.modal-overlay {
  position: fixed;
  top:0; left:0; width:100%; height:100%;
  background-color:#fff7c0;
  display:flex; justify-content:center; align-items:center;
  z-index: 1000;
}

.modal-container {
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #fff7c0; /* أصفر فاتح */
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.update-btn {
  background-color: #ffd700;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.close-btn {
  background-color: lightgray;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
